body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

header {
    background: #ffcb05;
    border-radius: 8px;
    padding: 15px;
    box-shadow: #2a75bb;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #2a75bb;
    font-weight: bold;
}